# App settings
APP_NAME=SQRL
ENVIRONMENT=development
LOG_LEVEL=INFO
VERSION=0.1.0

# Open AI settings
OPENAI_API_KEY_V1=sk-proj-P0tiK...
OPENAI_PROJECT_ID=proj_R8O...

# Gemini AI settings
GEMINI_API_KEY_V1=AIza...

# Groq AI settings
GROQ_API_KEY_V1=gsk_qko...

# LangSmith Settings
LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="Add your api key"
LANGSMITH_PROJECT="CSI_Mapping"

# GitHub Token
GITHUB_TOKEN="github_pat_11A..."

# MinIO settings
MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=strongpassword123
MINIO_BUCKET=squirrel

# Database settings
DATABASE_URL=postgresql://squirrel:squirrel_password@postgres:5432/squirrel

# Processing Settings
MIN_PROCESS_COUNT=15
MIN_WORKER_COUNT=15

# Token Encryption Key
TOKEN_ENCRYPTION_KEY=fJ1LHEz9podTBketKu2BgTqe8XrYveBWRCemEVvhn7U=